.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Make the zoom control horizontal */
.leaflet-control-zoom {
    display: flex !important;
    flex-direction: row !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    background-clip: padding-box;
    border-radius: 4px;
    overflow: hidden;
}

/* Remove the bottom border from the '+' button and add a right border instead */
.leaflet-control-zoom-in {
    border-bottom: none !important;
    border-right: 1px solid #ccc !important;
}

/* Optional: Adjust the positioning to give it some padding from the corner */
.leaflet-bottom.leaflet-right {
    bottom: 20px !important;
    right: 20px !important;
}
